.header {
    float: left;
    width: 100%;
    background: #ffffff;
    padding: 0 10px 0 0;
    min-height: 70px;
    position: relative;
    -webkit-box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
    box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
}
.logo {
    float: left;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    width: 48px;
    display: inline-block;
    line-height: 0px;
    position: relative;
    left: 0px;
    margin-bottom: 0px;
    margin-left: -30px;
    margin-right: 20px;
}
.logo span {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
    display: inline-block;

    /* background:#333 -webkit-radial-gradient(circle,rgb(226, 6, 6),rgba(122, 6, 6, 0),rgba(255,255,255,0)) no-repeat -280px -94px;
  -webkit-background-clip:text;
  -webkit-background-size:388px;
  -webkit-animation:ani 6s linear infinite; */
}

/* @keyframes ani{
    from{background-position:-280px -94px;}
    to{background-position:680px -94px;}
  } */

.flex_box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;

}

.rtl_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_btn img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.profile_btn span {
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.toggle_button {
    flex: auto;
}

.toggle_button button {
    padding: 0 0.75rem;
    color: #7081b9;
    font-size: 18px;
}

.nofiy {
    margin-right: 20px;
}

.nofiy button {
    position: relative;
    font-size: 22px;
    vertical-align: middle;
    color: #a4abc5;
}

.nofiy button span {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: -2px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 1px 3px 0px;
    font-size: 9px;
    text-align: center;
    width: 20px;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 100%;
    color: #fff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #f1646c;
    -webkit-box-shadow: 0 5px 5px rgb(241 100 108 / 30%);
    box-shadow: 0 5px 5px rgb(241 100 108 / 30%);
}

.side_wraper {
    min-width: 270px;
    max-width: 270px;
    background-color: #ffffff;
    
    -webkit-box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
    box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
    -webkit-transition: .3s;
    transition: .3s;
    padding: 24px;
    float: left;
    position: absolute;

    top: 80px;
        bottom: 0px;
        height: 100%;
        min-height: min-content;
    max-height: fit-content;
}

.sidebar nav {
    width: 100%;
    float: left;
   
}

.sidebar {
    float: left;
    width: 100%;
}

.sidebar>nav>ul {
    margin: 0px;
    padding: 0px;
}

.sidebar li {
    width: 100%;
    margin-bottom: 10px;
}

.sidebar>li>i {
    width: 25px;
    display: inline-block;
    font-size: 16px;
    opacity: 0.8;
}

.sidebar li a {
    display: inline-block;
    padding: 12px 24px;
    color: #586571;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    position: relative;
    text-transform: capitalize;
}

.sidebar nav > ul > li.active > a {
    color: #ffffff;
    background: linear-gradient(14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    -webkit-box-shadow: 3px 3px 20px 0 rgb(6 86 255 / 40%);
    box-shadow: 3px 3px 20px 0 rgb(6 86 255 / 40%);
    border-radius: 4px;
}

.sidebar li a i {
    margin-right: 10px;
    font-size: 16px;
}

.badge {
    background-color: #fd3c97;
    color: #ffffff;
    -webkit-box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
    box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
    padding: 4px 6px 3px;
    font-weight: 500;
    line-height: 10px;
    float: right;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
    background-color: #fd3c97;
    color: #ffffff;
    -webkit-box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
    box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
}

.children {
    list-style: circle;
    margin: 0px;
    float: left;
    width: 100%;
    padding-left: 50px;
    padding: 15px 0px 10px 45px;
    visibility: hidden;
    display: none;
}
.children.active{
    display: block;
    visibility: visible;
}
.children li a {
    padding: 10px 10px;
    color: #586571;
    font-size: 13.5px;
    border-left: none;
    text-transform: capitalize;
}
.left-sidenav .children li.active,
.left-sidenav .children li.active a{
   color: #007bff;
}
.children li a {
    padding: 5px 10px;
}

.wrap_content {
    float: left;
    width: 100%;
}

.wapper_content {
    padding: 30px 20px 30px 15px;
    float: right;
    width: 82%;
    height: 100%;
	/* overflow: hidden; */
    position: relative;
}

.background_image{
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	width: 30%;
    text-align: center;
    margin: 20px auto;
    opacity: 0.04;
}
.wapper_content > .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0%;
    right: 0px;
	top: 0px;
	bottom: 0px;
    z-index: 0;
    margin: 0 auto;
}
.element_group{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    /* opacity: 0.70; */
}

/*=========================*/
/*        Datatable        */
/*=========================*/

table {
    border: 1px solid #eaf0f7;
    color: #7286a2;
    border-collapse: separate !important;
    border-spacing: 0px;
    background: #fff;
}

table tbody tr td,
table thead tr th {
    border-bottom: 1px solid #eaf0f7;
    border-right: 1px solid #eaf0f7;
    padding: 0.75rem;
    font-size: 13px;
}

table tbody tr td:last-child,
table thead tr th:last-child {
    border-right: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table thead {
    background-color: #f1f5fa;

}

table thead tr th {
    text-transform: capitalize;
    border-width: 2px;
    border-color: #eaf0f7;
    color: #303e67;
    font-weight: 500;
    padding: 0.75rem;
}

table tbody tr td:first-child,
table thead tr th:first-child {
    text-align: center;
}



.pagination {
    display: flex;
    width: auto;
    float: right;
}

.pagination li {}

.pagination li.disabled a {
    color: #7286a2;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #eaf0f7;
}

.pagination li:first-child a {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pagination li a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #eaf0f7;
}

.pagination li:hover a,
.pagination li.active a {
    border-color: #007bff;
    color: #ffffff;
    background: linear-gradient(14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    box-shadow: 0px 0px 2px 0 rgb(6 86 255 / 40%);
    border-radius: 4px;
}

.pagination li.disabled:hover a {
    color: #7286a2;
    pointer-events: none;
    cursor: auto;
    background: #fff;
    border-color: #eaf0f7;
    box-shadow: none;
}

.footer {
    position: absolute;
    bottom: 80px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
    z-index: 999999;
    width: 100%;
    text-transform: capitalize;
}

.footer p {
    font-weight: 500;
    display: inline-block;
    font-size: 12px;
}





.deshboard_status{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.status_cards {
    margin-bottom: 10px;
    border: none;
    -webkit-box-shadow: 0 6px 25px rgb(36 37 38 / 10%);
    box-shadow: 0 6px 25px rgb(36 37 38 / 10%);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.25rem;
    width: 24.5%;
    
}

.sm-title {
    margin-bottom: 8px;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    color: #303e67;
    text-shadow: 0 0 1px rgb(239 242 249 / 10%);
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.status_cards .flex i {
    font-size: 28px;
    color: #ffffff;
    width: 64px;
    height: 64px;
    line-height: 64px;
    display: block;
    text-align: center;
    border-radius: 52% 48% 23% 77% / 44% 68% 32% 56%;
}

.flex h2{
    line-height: 30px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
}

.status_cards span{
    color: #1ecab8;
}
.status_cards p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a4abc5;
    font-weight: 300;
    margin-bottom: 0px;
}



.bg-perple .flex i{
    background-color: #6d81f5;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(109 129 245 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(109 129 245 / 50%);
}
.bg-perple h2{
    color: #6d81f5;
}
.bg-red .flex i{
    background-color: #fd3c97;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(253 60 151 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(253 60 151 / 50%);
}
.bg-red h2{
    color: #fd3c97 ;
}
.bg-skyblue .flex i{
    background-color: #0dc8de;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(13 200 222 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(13 200 222 / 50%);
}
.bg-skyblue h2{
    color: #0dc8de ;
}
.bg-yellow .flex i{
    background-color: #ffb822;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(255 184 34 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(255 184 34 / 50%);
}
.bg-yellow h2{
    color: #ffb822;
}
.mid.rd{
    color: #dc3545;
}


.bg-green .flex i{
    background-color: #1ecab8;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(30 202 184 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(30 202 184 / 50%);
}

.bg-green h2{
    color: #1ecab8;
}

.bg-green .flex i{
    background-color: #1ecab8;
    -webkit-box-shadow: 0px 5px 5px 0.25px rgb(30 202 184 / 50%);
    box-shadow: 0px 5px 5px 0.25px rgb(30 202 184 / 50%);
}

.bg-green h2{
    color: #1ecab8;
}



.box_layout{
    float: left;
    width: 100%;
    padding: 1.25rem;
    background: #fff;
    position: relative;
}

.c-title{
    
    margin: 0;
    color: #303e67;
}
.tabs_system{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.tabs_system li{
    float: left;
    width: 100%;
    cursor: pointer;
}
.elements {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  
}
.elements .badge{
    padding: 4px 6px 5px;


    background-color: #ffb822;
    color: #ffffff;
    -webkit-box-shadow: 0 5px 5px rgb(255 184 34 / 30%);
    box-shadow: 0 5px 5px rgb(255 184 34 / 30%);
}
.folder_names{
    line-height: normal;
}
.elements i{
    font-size: 22px;
    vertical-align: middle;
    margin-right: 15px;
    font-style: normal;
}
.elements h6{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 15px;
    float: left;
    width: 100%;
}
.elements span{
    float: left;
    width: 100%;
}
.elements p{
    margin-bottom: 0px;
}


.child_element{
    float: left;
    width: 100%;
    padding-left: 20px;
}
.child_element li {
    float: left;
    width: 100%;
    line-height: normal;
    cursor: pointer;
}
.child_element li h6{
    font-weight: 600;
    font-size: 13px;
}
.child_element li small{
    font-size: 12px;
}
.tabs_system .elements{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.assets_layout{
    float: left;
    width: 100%;
}
.assets_layout h6{
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}
.flexs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.file-box{
    border: 1px solid #eff2f9;
    border-radius: 5px;
    padding: 20px;
    width: 160px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    margin-bottom: 16px;
    background-color: #ffffff;
}
.file-box .downloadIcons{
    float: right;
    font-size: 16px;
    color: #9ba7ca;
    margin-bottom: 10px;
    position: absolute;
    top: 8px;
    right: 8px;
    
}
.proDetail{
    float: left;
    width: 100%;
    text-align: center;
    line-height: normal;
    cursor: pointer;
}
.proDetail i{
    font-size: 36px;
    color: #9ba7ca;
}
.proDetail h6{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0px 0px;
    display: inline-block;
    width: 100%;
    font-size: 13px;
}
.proDetail small{
    color: #9ba7ca;
    font-size: 11px;
    display: inline-block;
    width: 100%;
    line-height: normal;
}

/* .parent{
    position: relative;
}
.parent::before{
    position: absolute;
    top: 50%;
    left: -20px;
    content:"\e61a";
    font-family: 'themify';
    font-size: 12px;
    color: #000;
    text-shadow: 0px 0px 1px #000;
    margin-top: -32px;
} */

.btn-normal{
    display: inline-block;
    padding: 6px 24px;
    color: #ffffff;
    background: -webkit-linear-gradient( 14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    background: -moz-linear-gradient( 14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    background: -o-linear-gradient( 14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    background: linear-gradient( 14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    box-shadow: 3px 3px 20px 0 rgb(6 86 255 / 40%);
    border-radius: 4px;
    text-transform: capitalize;
    margin-right: 10px;
}
.btn-normal:hover{
    color: #fff;
}
.btn-normal.style2{
    background: #fd3c97;
    color: #ffffff;
    box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
}
.rtl{
    float: right;
}
.btn-normal:last-child{
    margin-right: 0px;
}

.reletive-flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.align_pm{
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -12px;
    font-size: 10px;
}

.selections{
    width: 50%;
}
.full-width{
    width: 100%;
}
.full-width .custom-field label{
    position: relative;
}
.webCam{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.top-right{
    position:absolute;
    top: -100px;
    right: 0px;
    width: auto;
    height: 100px;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */
  z-index: 9;
}
.top-right img{
width: 100%;
padding: 0px 0px;
height: 100%;
opacity: 1;
}
@keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

.btn_capture{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 2px 12px;
    border-radius: 5px;
    background: #fd3c97;
    color: #fff;
    box-shadow: 0 5px 5px rgb(253 60 151 / 30%);
    z-index: 999;
}
.btn_capture i{
    margin-right: 5px;
}
.selections h6{
    width: 100%;
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.selections h6 span{

}
.selections .flex{
    justify-content: flex-start;
}
.radio_btns{
  line-height: normal;
  margin-right: 15px;
  width: 100%;
  margin-bottom: 0px;
  line-height: 0px;
}
.radio_btns label{
    margin-bottom: 0px;
}
.radio_btns input{
    display: none;
}
.radio_btns label{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}
.radio_btns label span{
    float: left;
    width: 20px;
    position: relative;
    height: 20px;
    background: #007bff;
    border-radius: 5px;
    margin-right: 7px;
}
.radio_btns label span::before{
    position: absolute;
    content: "\f00c";
    font-family: fontawesome;
    color: #fff;
    font-size: 18px;
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: -9px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.radio_btns input[type="radio"]:checked + label span::before{
    opacity: 1;
    visibility: visible;
}
.heading{
    float: left;
    width: 100%;
}
.heading h4{
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.heading h5{
    position: relative;
}
.heading h5 button{
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    padding-left: 0px;
}
.heading h5 button span{
    margin-right: 10px;
}
.heading .btn-normal{
    padding: 4px 10px 5px 30px;
    font-size: 12px;
    list-style: normal;
    margin-right: 0px;
    margin: -10px 0px 0px 0px;
}
.heading .btn-normal span{
    position: absolute;
    left: 10px;
    margin: 0px 0px 0px;
    color: #fd3c97;
    padding: 5px 7px;
    top: 0px;
    line-height: 20px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
    background-color: #fff;
}
.heading .btn-normal.family_tree{
    padding: 0px;
}
.heading .btn-normal.family_tree span{
    position: relative;
    padding: 4px 10px;
}
.heading img{
    width: 42px;
}
.heading .grap_pin{
    float: right;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
}
.element_pr input[type="file"]{
    display: none;
}
.fileUpload{
    height: 200px;
    width: 100%;
    background: linear-gradient(14deg, #0656ff 0%, rgba(6, 86, 255, 0.6));
    box-shadow: 3px 3px 20px 0 rgb(6 86 255 / 40%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
}
.fileUpload label{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
}
.fileUpload label h6{
    margin-bottom: 0px;
}
.uploadfiles{
    margin-bottom: 22px;
    cursor: pointer;
    padding: 10px 15px;
    width: 220px;
    position: relative;
}
.uploadfiles:hover{
    color: #fff;
}
.form_desgin.flex .uploadfiles i{
    cursor: pointer;
    margin-bottom: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_desgin.flex .uploadfiles span{
    padding-left: 30px;
}
.margin0{
    margin-bottom: 0px;
}
.form_desgin .uploadfiles label i,
.uploadfiles h6{
    color: #fff;
}
.form_desgin .uploadfiles label i{

}
.ml-5{
    margin-left: 15px;
}











.ag-theme-alpine.h100{
    height: 80vh !important;
}
.flex.active{
    display: flex;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: relative;
}
.flex.inactive{
    display: none;
   
}
.flex .columns{
    width: 33%;
}
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }












  .flex{

  }
  .student_list{
    width: 24%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #fff;
  }
  .student_list img{
     width: 80px;
     margin-right: 15px;
     border-radius: 100%;
  }
  .student_list h6{
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 10px;
  }
  .student_list span{
      font-weight: 400;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      float: left;
  }
  .custom_deta{
    width: 65%;
  }
  
/* .ag-theme-alpine .ag-header-icon, */

.element_group .ag-theme-alpine .ag-header-icon.ag-header-cell-menu-button,
.element_group .ag-floating-filter-button ,  
.element_group .ag-header-viewport  .eMenu{
    display: none ;
  }
  .ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell{
      padding-left: 0px;
  }
  .ag-theme-alpine .ag-root-wrapper{
      border-color: rgba(0, 0, 0, 0.2);
  }




.btn-absulote{
    position: absolute;
    bottom: 90px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}
.uploadPicture{
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: auto;
}
.uploadPicture label{
    margin: 0px;
    cursor: pointer;
}

.apexcharts-toolbar{
    display: none !important;
}

.flex_grid{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px;
}
.flex_grid .level_one{
    width: auto;
    flex: 0 0 50%;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    padding-bottom: 20px;
    padding: 14px;
}
.flex_grid > .level_one:first-child{
    border-right: none;
    background-color: #ffb822;
}
.flex_grid > .level_one:last-child{
    background-color: #f1646c;
}
.flex_grid > .level_one{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.flex_grid > .level_one > h5{
    color: #fff;
}
/* .flex_grid .level_one:nth-child(3),
.flex_grid .level_one:last-of-type{
    margin-bottom: 0px;
} */

.flex_grid .level_one h5{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}


.checkbox label i{
    display: none;
}

.checkbox input{
    display: none;
}
.checkbox label{
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 0px;
}
.checkbox h6{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    cursor: pointer;
}
.checkbox span{
    width: 16px;
    height: 16px;
    text-align: center;
    list-style: 16px;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    margin-right: 7px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.checkbox span::before{
    position: absolute;
    content: "\F12C";
    font-family:"Material Design Icons";
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 20px;
    bottom: 0px;
    line-height: 13px;
    font-weight: 600;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    background: #007bff;
    color: #fff;
    text-shadow: 1px 0px 2px #000;

}
.checkbox.active input[type="checkbox"] ~ label span:before,
.checkbox input[type="checkbox"]:checked ~ label span:before{
    visibility: visible;
    opacity: 1;
   
}
.checkbox.active input[type="checkbox"]:checked ~ label span,
.checkbox input[type="checkbox"]:checked ~ label span{
    border-color: #007bff;
    box-shadow: 0px 0px 0px 1px #007bff;
}

.level_one .flex .level_one{
    width: auto;
}
.level_one .flex .level_one:first-child{
    width: 70%;
}
.level_one .flex .level_one:last-child{
    width: 30%;
}
.columns > .checkbox{
    margin-bottom: 0px;
}
.columns > .flex{
    justify-content: flex-start;
}
.columns > .flex .checkbox{
    margin-right: 12px;
}
.columns > .flex .checkbox:last-child{
    margin-right: 0px;
}
.flex_grid .level_one .flex .columns{
    width: auto;
    margin-right: 10px;
    flex: 0 0 45%;
    /* margin-bottom: 10px; */
}
.flex_grid .level_one > .flex > .columns > .columns{
    margin-bottom: 10px;
}
.flex_grid .level_one > .flex{
    align-items: flex-start;
}
.columns .sm-title{
    font-size: 14px;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.add_model_head button{
    padding: 10px 24px;
}
.Fees_grid .flex{
    justify-content: space-between;
    width: auto;
    align-items: center;
    justify-content: center;
}
.Fees_grid{
    padding-top: 30px;
}
.Fees_grid .flex .custom-field{
    margin: 0px 10px 0px 0px;
}
.Fees_grid .flex.form_desgin{
    margin-bottom: 30px;
}
.Fees_grid .flex.form_desgin .column{
    flex: 0 0 50%;
    display: flex;
}
.remove_item{
    color: #fd3c97;
    font-size: 16px;
}
.grid_by_table .custom-field label{
    display: none;
}
.grid_by_table .custom-field{
    margin: 0px;
}
.grid_by_table .custom-field input{
    padding-left: 10px;
    border:none;
}
.grid_by_table{
    border:none;
    width: 100%;
    table-layout: auto !important;
}
.grid_by_table tr td,
.grid_by_table tr th{
    text-align: center;
    width: auto !important;
}


.voucher{
    float: left;
    width: 100%;
}
.voucher .flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.heading_titile{
    text-align: center;
}
.voucher .flex .logo{
    width: 100px;
}
.voucher .flex .logo img{
    width: 100%;
}
.reg_picture{
    width: 150px;
    height: 150px;
    overflow: hidden;
    filter: grayscale(100%);
}
.reg_picture img{
    transform: scale(1.7) translate(0px, 10px);
}
.voucher h6{
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.voucher ul {
    float: left;
    width: 100%;
    padding-left: 12px;
    margin-bottom: 14px;
}
.voucher ul li{
    width: 100%;
    float: left;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}
.voucher ul li:last-child{
    margin-bottom: 0px;
}
.voucher .mb30{
    margin-bottom: 30px;
}
.Spratorline{
    float: left;
    width: 100%;
    border:1px solid #ccc;
    position: relative;
    margin: 30px 0px;
}
.Spratorline::before{
    position: absolute;
    bottom: -13px;
    left: -5px;
    content: "\f0c4";
    font-size: 18px;
    color: #333;
    font-family: fontawesome;
}
.heading_titile h4{
    font-weight: 600;
}
.heading_titile h5{
    font-weight: 500;
    text-transform: capitalize;
}

.flex.align-starts{
    align-items: flex-start;
    padding: 0px 0px;
}
.flex.align-starts .column.rtl{
    /* width: min-content; */
    /* max-width: 260px;
    min-width: 190px; */
}

.custom_margin{
    margin: 15px 30px;
}
.voucher .flex .column{
    width: 24%;
}