/*==================================================
	Typography FILE.CSS
====================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
   font-family: 'Poppins', sans-serif;
*/

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;	
}
body {
    color: #2b2b2b;
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
	font-weight:400;
    font-weight: normal;
    background-color: #F4F5FA;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper{
	float: left;
	width: 100%;
	background-color: #F4F5FA;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}
/* Heading Typo */
body h1, body h2, body h3, body h4, body h5, body h6 {
    color:#2e2e2e;
    font-style: normal;
    font-weight: 400;
	font-family: 'Roboto', sans-serif;
    line-height: normal;
    margin: 0px 0px 10px 0px;
    text-transform: capitalize;
}
h1 {
    font-size: 100%;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 13px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#2e2e2e;
}
/* Paragraph Typo */
p {
	color:#2e2e2e;
	margin:0px 0px 0px 0px;
	font-weight:400;
	font-size:12px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 0px;
	
}
p a {
    color: #7abf18;
}
/* Link Typo */
a {
    color:#2e2e2e;
    text-decoration: none;
    font-size:12px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
}
body a{
  text-decoration: none;
}
a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
}
/* HTML-5 Element Typo */
header,
detail,
article,
aside,
hgroup,
nav,
section,
figure,
figcaption,
footer{
	display:block;	
}
audio,
video,
canvas{
	float:left;
	width:100%;	
}
/* UL Typo */
ul {
    margin-bottom: 0px;
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul,
ol {
	list-style: none;
	margin: 0 0 0px 0px;
	padding:0px;
}
li > ul,
li > ol {
	margin: 0 0 0 0px;
}
li ol li:last-child,
li ul li:last-child{
	margin-bottom:0px;
}
/* Figure Element Typo */
img {
    max-width: 100%;
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	width:100%;
}
figure {
	margin: 0;
	position:relative;
}
/* Clear Typo */
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}

/* Defaul Elment Typo */
strong {
    color: #2b2b2b;
}
address {
	font-style: italic;
	margin-bottom: 24px;
}

abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}

b,
strong {
	font-weight: 700;
	color: #2b2b2b;
}

cite,
dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace, serif;
	font-size: 15px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: 24px;
}

pre {
	border: 1px solid #2b2b2b;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

blockquote cite,
blockquote small {
	color: #2b2b2b;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top:10px;
	clear:both;
	display:inline-block;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
	font-size: 14px;
	color:#2b2b2b;
}

big {
	font-size: 125%;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: 0.5ex;
}

dl {
	margin-bottom: 24px;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 24px;
}
del {
	color: #767676;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 23px;
}
/* IFrame Typo */
iframe {
    border: none;    
    width: 100%;
}
/* Form Input Typo */
fieldset {
	border: 1px solid #2b2b2b;
	margin: 0 0 24px;
	padding: 11px 12px 0;
}

legend {
	white-space: normal;
}

label {
    color: #2e2e2e;
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

select {
    border: 1px solid #c0c0c0;
    color: #2e2e2e;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 8px 12px;
    width: 100%;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

button {
    border: none;
    background-color: transparent;
}

button,
input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	color: #575757;
	font-weight: 400;
	line-height: 1.5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea, input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #cccccc;
    color: #b2b2b2;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 20px;
    outline: none;
    padding: 4px 10px;
    vertical-align: middle;
	font-family: 'Poppins', sans-serif;
}
form p {
    float: left;
    position: relative;
    width: 100%;
}
span{
  font-size: 13px;
}
form p span i {
    color: #555;
    left: 16px;
    position: absolute;
    top: 13px;
}
/* ThemeUnit Style's */
.fullsection {
    width: 100%;
    padding: 0px;
}
.fullsection .row {
    margin: 0px;
}
.fullsection [class*="col-md-"] {
    padding: 0px;
}
.full-content {
    width: 100%;
    float: left;
    padding: 0px;
}
.full-content .row { 
	margin: 0px; 
}
.thememargin { 
	margin: 0px 0px 30px 0px; 
}
.kd-pagesection {
    float: left;
    width: 100%;
}
/*Table Typo*/
table,
th,
td {
	border: 1px solid #c0c0c0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
	
}

th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
	padding:15px;
}

td {
	border-width: 0 1px 1px 0;
	padding:15px;
}

/* Place Holder Typo */
::-webkit-input-placeholder 	{color: #b2b2b2; text-transform:capitalize;}
:-moz-placeholder 				{ color: #b2b2b2; opacity: 1; text-transform:capitalize;}
::-moz-placeholder 				{ color: #b2b2b2; opacity: 1; text-transform:capitalize;}
:-ms-input-placeholder 			{color: #b2b2b2; text-transform:capitalize;}

















  





















.flex{
	display: flex;
	width: 100%;
	justify-content: space-between;
	/* align-items: center; */
	flex-wrap: wrap;

}
  .custom-field {
	display: block;
	max-width: 100%;
	border: 0;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 4px 2px rgb(0,0,0,0.05);
	position: relative;
	color: #a7b4c1;
	transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
	  box-shadow 0.1s ease-in-out;
	  flex: 1 0 20%;
	  border-radius: 4px;
	  margin: 0px 12px 22px 0px;
	  height: 40px;
	  position: relative;
	  /* flex: 0 0 23.8%; */
  }
  .selections_box select{
	 outline: none; 
	 color: #2b2b2b;
	 padding-left: 38px;
	 border: none;
	 background: #f9f9f9;
	 border-radius: 4px;
	 box-shadow: 0px 0px 4px 2px rgb(0,0,0,0.05);
  }
  .selections_box select option{
	  padding: auto;
  }
  .custom-field label{
	  margin-bottom: 0px;
	  width: 100%;
	  padding-left: 20px;
  }
  /* .custom-field:hover {
	box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
  } */
  
  .custom-field input {
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	top: 0;
	border:none;
	box-shadow: none;
	z-index: 3;
	display: block;
	transition: top 0.1s ease-in-out;
	width: 100%;
	color: #2b2b2b;
	height: 100%;
	border:2px solid #f9f9f9; 
	border-radius: 4px;
	outline: 1px solid rgba(0,0,0,0.1);
	padding-left: 38px;
  }
 
  .selections_box{
	border:2px solid #f9f9f9; 
  }
  .selections_box select{
	height: 36px;
  }
  .custom-field input::placeholder {
	color: rgba(0, 0, 0, 0);
  }
  
.custom-field.fullwidth{
	width: 100%;
	position: relative;
	
	float: left;
	flex: 0 0 1;
	height: 100%;
	box-shadow: none;
	background: transparent;
	justify-content: end;

}
.fullwidth textarea{
	height: 120px;
	width: 100%;
	resize: none;
	padding: 15px;
	color: #2b2b2b;
	font-size: 13px;
	position: relative;
	padding: 10px 42px;
	border:none;
	box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 5%);
	
}
.fullwidth .btn-normal{
	width: 100%;	
	margin: 0px;
	padding: 10px;
	margin-bottom: 10px;
}

.parentOfupload .btn-normal{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 10px;
	cursor: pointer;
}
.parentOfupload .btn-normal label{
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	color: #fff;
	cursor: pointer;
}
.parentOfupload .btn-normal label h6{
	color: #fff;
	margin-left: 10px;
	font-size: 12px;
}
  
  .custom-field label h6{
	position: absolute;
	border: 0;
	top: 0;
	left: 10px;
	right: 0;
	bottom: auto;
	margin-bottom: 0px;
	z-index: 2;
	display: flex;
	align-items: center;
	padding: 0 0;
	box-sizing: border-box;
	transition: all 0.1s ease-in-out;
	cursor: text;
	bottom: 0px;
	background: transparent;
	color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	box-shadow: none;
	text-transform: capitalize;
	font-size: 13px;
	margin:0 0 0 35px;
  }
  .selections_box label h6,
  .selections_box input:focus + label h6,
  .selections_box input:not(:placeholder-shown) + label h6,
  .idGenerate label h6,
  .custom-field input:focus + label h6,
  .custom-field input:not(:placeholder-shown) + label h6{
    font-size: 12px;
	bottom: auto;
    opacity: 1;
    z-index: 999;
    opacity: 1;
    top: -2px;
    width: max-content;
    padding: 0px 2px 0px;
	line-height: 4px;
    vertical-align: middle;
	/* background: linear-gradient(14deg, #0656ff 0%, rgba(6, 86, 255, 0.6)); */
    /* box-shadow: 3px 3px 20px 0 rgb(6 86 255 / 40%); */
	color: #0656ff;
	background: #f9f9f9;
	outline: none;
  }
  .selections_box,
  .custom-field:focus,
  .custom-field input:focus{
	border-color: #0656ff;
  }

  .custom-field input:not(:placeholder-shown){
	border-color: #0656ff;
  }

 
  .selections_box label h6{
	  color: #0656ff;
  }
  .custom-field input:focus {
	  outline:none;
  }
  .form_desgin.flex i{
    width: 35px;
    line-height: 40px;
    color: #000;
	background-color: #fff;
    float: left;
    position: absolute;
    left: 0px;
    font-size: 14px;
    top: 0%;
    bottom: 0px;
	margin-top: 0px;
	height: 100%;
	border-right: 1px solid #ccc;
	border-radius: 0px;
	text-align: center;
} 




.image_box{
	position: relative;
	
}
.image_box img{
	position:absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	height: 38px;
	width: 38px;
}
.image_box span{
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: -14px;
	background-color: #fff;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	color: #000;
	text-align: center;
	line-height: 25px;
}